<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Web UI</TITLE>
    </HEAD>

    <BODY>
        <H1>Web UI</H1>
        <FORM action="/" method="get">
            <LABEL>Dominio: </LABEL>
            <SELECT name="domain" onchange="this.form.url.value=''; this.form.submit()" required>
                <OPTION value="" selected disabled hidden></OPTION>
                {% for d in lista_domini %}
                    <OPTION value="{{d}}" {% if d == dominio_scelto %}selected{% endif %}>{{d}}</OPTION>
                {% endfor %}
            </SELECT>
            <br><br>

            <LABEL>URL: </LABEL>
            <INPUT type="text" list="urls" name="url" size="80" value="{{ request.query_params.get('url', '') }}" autocomplete="off">
            <DATALIST id="urls">
                {% for u in lista_url %}
                    <OPTION value="{{u}}"></OPTION>
                {% endfor %}
            </DATALIST>
            <br><br>
            
            <BUTTON type="submit">Invia</BUTTON>
        </FORM>
        <br><br>


        {% if dominio_scelto %}

            <FORM action="/" method="get">
                <INPUT type="hidden" name="domain" value="{{dominio_scelto}}">
                <INPUT type="hidden" name="action" value="global_eval" readonly>
                <BUTTON type="submit">Calcola metriche globali per <b>{{dominio_scelto}}</b></BUTTON>
            </FORM>
            <br><br>

            {% if global_precision is defined %}
                <H3>Valutazione globale: {{dominio_scelto}}</H3>
                <TABLE border="1" cellpadding="5" style="margin: auto; text-align: center; width: 50%;">
                    <TR>
                        <TH>Global precision</TH>
                        <TH>Global recall</TH>
                        <TH>Global f1</TH>
                    </TR>
                    <TR>
                        <TD readonly>{{global_precision}}</TD>
                        <TD>{{global_recall}}</TD>
                        <TD>{{global_f1}}</TD>
                    </TR>
                </TABLE>
            {% endif %}
        {% endif %}

        <H2>Risultati</H2>
        <br>

        <TABLE>
            <TR>
                <TH>Html grezzo</TH>
                <TH>Testo parsato</TH>
                <TH>Testo GS</TH>
            </TR>
            <TR>
                <TD>
                    <TEXTAREA cols="60" rows="20" style="resize: none;" readonly>{{testo_html}}</TEXTAREA>
                </TD>
                <TD>
                    <TEXTAREA cols="60" rows="20" style="resize: none;" readonly>{{testo_parsato}}</TEXTAREA>
                </TD>
                <TD>
                    <TEXTAREA cols="60" rows="20" style="resize: none;" readonly>{{testo_gs}}</TEXTAREA>
                </TD>
            </TR>
        </TABLE>
        
        <br><br>

        <TABLE border="1" cellpadding="5" style="margin: auto; text-align: center; width: 50%;">
            <TR>
                <TH>Precision</TH>
                <TH>Recall</TH>
                <TH>F1</TH>
            </TR>
            <TR>
                <TD>{% if precision is none or precision=='' %}N/D{% else %}{{precision}}{% endif %}</TD>
                <TD>{% if recall is none or recall=='' %}N/D{% else %}{{recall}}{% endif %}</TD>
                <TD>{% if f1 is none or f1=='' %}N/D{% else %}{{f1}}{% endif %}</TD>
            </TR>
        </TABLE>
        <br><br><br>


        <H2>Valutazione manuale</H2>
        <P>Incolla qui i testi per valutare URL non appartenenti ai Gold Standard</P>
        <FORM action="/" method="post">
            <TABLE>
                <TR>
                    <TH>Testo parsato</TH>
                    <TH>Testo gold standard</TH>
                </TR>
                <TR>
                    <TD><TEXTAREA name="manual_parsed" cols="60" rows="20" style="resize: none;" required>{% if manual_parsed %}{{manual_parsed}}{% endif %}</TEXTAREA></TD>
                    <TD><TEXTAREA name="manual_gs" cols="60" rows="20" style="resize: none;" required>{% if manual_gs %}{{manual_gs}}{% endif %}</TEXTAREA></TD>
                </TR>
            </TABLE>
            <BUTTON type="submit">Evaluate</BUTTON>
        </FORM>
        <br>

        <TABLE border="1" cellpadding="5" style="margin: auto; text-align: center; width: 50%;">
            <TR>
                <TH>Precision</TH>
                <TH>Recall</TH>
                <TH>F1</TH>
            </TR>
            <TR>
                <TD>{{ manual_precision | default('N/D') if manual_precision != '' else 'N/D' }}</TD>
                <TD>{{ manual_recall | default('N/D') if manual_recall != '' else 'N/D' }}</TD>
                <TD>{{ manual_f1 | default('N/D') if manual_f1 != '' else 'N/D' }}</TD>
            </TR>
        </TABLE>
    </BODY>
</HTML>