<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Home page</TITLE>
        <LINK rel="stylesheet" href="../static/home_style.css?v=1">
    </HEAD>
    
    <BODY>
        <H1>Home page</H1>
        <TABLE>
            <TR>
                <TD>
                    <DIV><b>Studente 1</b>: 2144286</DIV>
                </TD>
                <TD>
                    <DIV><b>Studente 2</b>: 2139688</DIV>
                </TD>
                <TD>
                    <DIV><b>Studente 3</b>: 2147973</DIV>
                </TD>
            </TR>
        </TABLE>

        <HR> <BR>
        <TABLE class="btn-box">
            <TR class="btn-row">
                <TD class="btn-item">
                    <DIV>
                        <A class="btn-link" href="/parser_evaluation">
                            Parser & evaluation
                        </A>
                    </DIV>
                </TD>
                <TD class="btn-item">
                    <DIV>
                        <A class="btn-link" href="/gold_standard_builder">
                            Gold standard
                        </A>
                    </DIV>
                </TD>
                <TD class="btn-item">
                    <DIV>
                        <A class="btn-link" href="./stats.html">
                            Stats
                        </A>
                    </DIV>
                </TD>
            </TR>
        </TABLE>
        
        <H2>System status</H2>
        <DIV class="status-box">
            <DIV>
                <SPAN class="status {% if status_backend == 'ok' %}active{% else %}inactive{% endif %}"></SPAN>
                Backend
            </DIV>
            <DIV>
                <SPAN class="status {% if status_mariadb == 'ok' %}active{% else %}inactive{% endif %}"></SPAN>
                MariaDB
            </DIV>
            <DIV>
                <SPAN class="status {{'active' if status_ollama == 'ok' else 'inactive'}}"></SPAN>
                Ollama
            </DIV>
        </DIV>

        <br>

        <TABLE class="domains-table" border="1" cellpadding="5" style="margin: auto; text-align: center; width: 50%;">
            <TR class="domains-row">
                <TH class="domains-head">Domini supportati</TH>
            </TR>
           
            {% for d in domains %}
                <TR class="domains-row">
                    <TD class="domains-item">{{d}}</TD>
                </TR>
            {% endfor %}      
        </TABLE>

    </BODY>
</HTML>