<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Web UI</TITLE>
    </HEAD>

    <BODY>
        <H1>Web UI</H1>
        <FORM action="/" method="get">
            <LABEL>Dominio: </LABEL>
            <SELECT name="domain" onchange="this.form.url.value=''; this.form.submit()" required>
                <OPTION value="" selected disabled hidden></OPTION>
                {% for d in lista_domini %}
                    <OPTION value="{{d}}" {% if d == dominio_scelto %}selected{% endif %}>{{d}}</OPTION>
                {% endfor %}
            </SELECT>
            <br><br>

            <LABEL>URL: </LABEL>
            <INPUT type="text" list="urls" name="url" size="80" value="{{ request.query_params.get('url', '') }}" autocomplete="off">
            <DATALIST id="urls">
                {% for u in lista_url %}
                    <OPTION value="{{u}}"></OPTION>
                {% endfor %}
            </DATALIST>
            <br><br>
            
            <BUTTON type="submit">Invia</BUTTON>
        </FORM>
        <br><br>

        <H2>Risultati</H2>
        <br>

        <TABLE>
            <TR>
                <TH>Html grezzo</TH>
                <TH>Testo parsato</TH>
                <TH>Testo GS</TH>
            </TR>
            <TR>
                <TD>
                    <TEXTAREA cols="60" rows="20" style="resize: none;" readonly>{{testo_html}}</TEXTAREA>
                </TD>
                <TD>
                    <TEXTAREA cols="60" rows="20" style="resize: none;" readonly>{{testo_parsato}}</TEXTAREA>
                </TD>
                <TD>
                    <TEXTAREA cols="60" rows="20" style="resize: none;" readonly>{{testo_gs}}</TEXTAREA>
                </TD>
            </TR>
        </TABLE>
        
        <br><br>

        <TABLE border="1" cellpadding="5" style="margin: auto; text-align: center; width: 50%;">
            <TR>
                <TH>Precision</TH>
                <TH>Recall</TH>
                <TH>F1</TH>
            </TR>
            <TR>
                <TD>{% if precision is none or precision=='' %}N/D{% else %}{{precision}}{% endif %}</TD>
                <TD>{% if recall is none or precision=='' %}N/D{% else %}{{recall}}{% endif %}</TD>
                <TD>{% if f1 is none or precision=='' %}N/D{% else %}{{f1}}{% endif %}</TD>
            </TR>
        </TABLE>
    </BODY>
</HTML>